<a [routerLink]="['/']">
    <h1 style="margin-left:50px;">My Store</h1>
</a>

<nav>
      <a [routerLink]="['/smarthwatches']" style="padding-left: 30px; color: #87a4e8; text-decoration: none">Умные часы</a>
      <a [routerLink] = "['/earbuds']" style="padding-left: 30px; color: #87a4e8; text-decoration: none">Наушники</a>
      <a [routerLink] = "['/mobiles']"  style="padding-left: 30px; color: #87a4e8; text-decoration: none">Сотовые телефоны</a>
      <a [routerLink]="['/laptops']"  style="padding-left: 30px; color: #87a4e8; text-decoration: none">Ноутбуки</a>
</nav>
  
  <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons"></i>Checkout</a>

  
