<nav>
  <div class="container">
      <div class="nav-logo"><img src="../../assets/ramen.svg" alt=""></div>
      <div class="nav-title"><a>bowl time</a></div>
    <div class="search-bar input-group">
      <label>
        <input type="text" placeholder="Search"/>
      </label>
    </div>
    <div class="btn-group">
      <div>
        <button [routerLink]="['/login']" class="unit" type="button">Login</button>
      </div>
      <div>
        <button [routerLink]="['/signup']" class="unit" type="button">Sign up</button>
      </div>
    </div>
  </div>
</nav>