<meta name="viewport" content="width=device-width, initial-scale=1">
<h1 style="margin-left: 10%;">Product Details</h1>

<div class = "content">
  
<div *ngIf="product" style="display: flex;">
  <img src ="{{product.img}}" width="350px" height="350px" style="margin-top: -27px;">
    
    <div style="margin-top: 30px;">
      <h3>{{ product.name }}</h3>
      <h4>{{ product.price }}</h4>
      <p>{{ product.description }}</p>
      <a href = "{{product.link}}"><button>Buy</button></a>
    </div>
    
</div>
