<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class = "product_header"><strong>Smart Watches</strong></h1>
<div class="container">  
<div class="column" *ngFor="let smartwatch of smartWatches">
    <a>
        <div>
            <span><img src ="{{smartwatch.img}}" width="250px" height="250px"></span> 
            <div style="margin-left: 30px;">
                <h2 class = "pr_name">{{smartwatch.name}}</h2>
                <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span> 
                </div>
                <p>{{smartwatch.description}}</p>
                <a href = "https://web.whatsapp.com/send?text=Смотри какой крутой товар:{{smartwatch.link}}">
                    <button (click)="share(smartwatch.name)">
                        Share
                    </button>
                </a>
                <button routerLink = '/earbuds/{{smartwatch.id}}' (click) = "onSelect(smartwatch)" style="margin-left: 10px;">More</button>
            </div>
            
        </div>
    </a>  
    </div>
</div>