/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');

html{
    background-color: #EBECF0;
}

body{
    background-color: #EBECF0;
    margin: auto;
    width: 60%;
}

