<div class="body">
  <footer>
    <div class="list">
      <strong>
        Support
      </strong>
      <a>Contact us</a>
      <a>Site map</a>
      <a>Customer support</a>
    </div>
    <div class="list">
      <strong>
        About us
      </strong>
      <a>Newsroom</a>
      <a>Jobs</a>
    </div>
    <div class="list">
      <strong>
        Advertising
      </strong>
      <a>Advertise with us</a>
      <a>Meredith Women's Network</a>
    </div>
    <div class="list">
      <strong>
        Share
      </strong>
      <a>Facebook</a>
      <a>Twitter</a>
      <a>Telegram</a>
      <a>WhatsApp</a>
    </div>
  </footer>
  <div class="bottom">
    Almaty, 2020
  </div>
</div>
