<div class="body">
  <footer>
    <div class="list">
      <strong>
        Support
      </strong>
      <a href="https://www.allrecipes.com/">Contact us</a>
      <a href="https://www.allrecipes.com/">Site map</a>
      <a href="https://www.allrecipes.com/">Customer support</a>
    </div>
    <div class="list">
      <strong>
        About us
      </strong>
      <a href="https://www.allrecipes.com/">Newsroom</a>
      <a href="https://www.allrecipes.com/">Jobs</a>
    </div>
    <div class="list">
      <strong>
        Advertising
      </strong>
      <a href="https://www.allrecipes.com/">Advertise with us</a>
      <a href="https://www.allrecipes.com/">Meredith Women's Network</a>
    </div>
    <div class="list">
      <strong>
        Share
      </strong>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com">Facebook</a>
      <a href="https://twitter.com/share">Twitter</a>
      <a href="https://telegram.me/share/url?url=<URL>&text=<All Recipes here!>">Telegram</a>
      <a href="https://web.whatsapp.com/send?text=www.google.com" data-text="All Recipes here!">
        WhatsApp</a>
    </div>
  </footer>
  <div class="bottom">
    Almaty, 2020
  </div>
</div>
