img {
  margin: 0 10% 3% 10%;
  width: 80%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  margin-bottom: 1.5%;
  font-size: 15px;
}

body {
  margin: 3%;
  border-radius: 10px;
  border-width: 1px;
  border-color: #d5d9e7;
  border-style: solid;
  padding: 3%;
  background-color: #EBECF0;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 27px;
  margin: 1% 0 2% 0;
  color: #61677C;
  font-weight: lighter;
  text-shadow: 1px 1px 1px white;
}

button {
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 320px;
  padding: 10px 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 white;
  color: #61677C;
  box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}
