* {
  background-color: #EBECF0;
}
.card, .card1{
  border-radius: 10px;
  border-width: 1px;
  border-color: #d5d9e7;
  padding: 1%;

}
.card1 {
  border-top-style: solid;
}
.card{
  border-style: solid;
}

.box {
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  font-size: 18px;
  margin: 1%;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5 {
  font-weight: lighter;
  color: #61677C;
  margin: 1% 0;
  text-shadow: 1px 1px 1px white;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-bottom: 7%;
}

.intro {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.comment{
  padding: 2%;
}
.comment input{
  width: 50%;
}
button, input {
  margin-right: 5px;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 320px;
  padding: 10px 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 white;
  color: #61677C;
  box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}
