<div *ngIf="selectedItem">
  <div class="card1">
    <div class="title">
      {{selectedItem.category.name}}
      <h2>
        {{selectedItem.title}}
      </h2>
      <div>
        <button type="button" (click)="save()">Save</button>
        <button type="button" (click)="back()">Back</button>
      </div>
    </div>
    <hr>
    <div class="box">
      <div *ngFor="let photo of selectedItem.images">
        <img src={{photo}} style="width: 90%; height: 300px; margin-top: 5%">
      </div>
    </div>
    <div>
      <div class="section">
        <h4>
          Rating: {{selectedItem.likes}}
        </h4>
      </div>
      <div class="section">
        <p>Description:</p> {{selectedItem.description}}
      </div>
      <div class="intro">
        <div class="card" style="width: 20%">
          <div class="section">
            <i>
              <h2>Ingredients:</h2>
            </i>
            <div *ngFor="let i of selectedItem.ingredients">
              <p>
                * {{i}}
              </p>
            </div>
          </div>
        </div>
        <div class="card" style="width: 45%">
          <div class="section">
            <i>
              <h2>Directions:</h2>
            </i>
            <div *ngFor='let step of selectedItem.steps, let i = index'>
              <p>
                Step {{i + 1}}.
              </p>
              {{step}}
            </div>
          </div>
        </div>
        <div class="card" style="width: 20%">
          <div class="section">
            <h3>Comments:</h3>
            <div *ngFor='let step of selectedItem.comments, let i = index'>
              <h5>
                - {{step.text}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comment">
  <input type="text" placeholder="Comment" id="comment">
  <button (click)="send()">Send</button>
</div>
<app-footer></app-footer>
